<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">
    {{# rows }}
        <tr>
            <td>{{.}}</td>
            <td>{{fieldname}}</td>
            <td>{{fieldvalue}}</td>
        </tr>
    {{/ rows }}
</table>
